<!DOCTYPE html>
<html  lang="es">
<meta charset="UTF-8">
    <head>
        <link rel="stylesheet" href="../css/Style_public.css">
        <title> Import</title>
    </head>
    <body>
        <header>
        <section id="cabecera">
        <span id="titulo">Import</span>
            <div id="descripcion">
            <span> Bienvenido a Import.  Te has registrado como administrador, aqui podras editar la informacion de las importaciones, como consultarlas.</span>
            </div>
        
            
        </section>
       
        <nav >
            <ul>
                <li>Editar formulas</li>
                <a href="data.html"><li>Gestionar datos</li></a>
                <a href="Index.html"><li>Cerrar sesion</li></a>
            </ul>
        </nav>
        </header>
        
        <section id="intro">
        <h1>Sectores y productos de importación</h1>
            <p>
            Durante el segundo trimestre de este año, el mayor rubro de importaciones se dio en el sector de productos minerales. La importación de todos los productos de este rubro aumentó significativamente respecto al año anterior, igualando en algunos casos el monto importado en el año 2008. A pesar de ello en su totalidad los niveles de importación todavía no alcanzan los niveles reportados durante ese año.
            </p>
        <h1>Proveedores de las principales importaciones</h1>
            <p>Estados Unidos figura nuevamente como uno de los principales proveedores de bienes importados, ya que reporta ser el principal suplidor de cinco de los diez productos más importados y el segundo suplidor de los restantes cinco (Tabla 3). Por su parte el MCCA fue el segundo y tercer suplidor de cuatro de esos diez productos. La mayoría de productos importados durante este trimestre fueron productos minerales, para los cuales el resto de países del mundo fue su principal suplidor.
            </p>
        
        </section>
        <p id="fecha">
            Seleccione una fecha <input id="listaF" type="text" name="fecha"  list="listaFechas" value="Enero-febrero-2014">
              <datalist id="listaFechas" >
                  <option value="Enero-febrero-2014"></option>
                  <option value="Marzo-Abril-2014"></option>
                  <option value="Mayo-Junio-2014"></option>
                  <option value="Julio-Agosto-2014"></option>
                  <option value="Septiembre-Octubre-2014"></option>
                  <option value="Noviembre-Diciembre-2014"></option>
                  <option value="Enero-febrero-2015"></option>
                  <option value="Marzo-Abril-2015"></option>
                  <option value="Mayo-Junio-2015"></option>
                  <option value="Julio-Agosto-2015"></option>
                  <option value="Septiembre-Octubre-2015"></option>
                  <option value="Noviembre-Diciembre-2015"></option>
                  
             </datalist>
                           
            </p>
        <section id="sec1">
        esta es la seccion para el primer grafico
        </section>
        <section id="sec2">
        esta es la seccion para el segundo grafico
        </section>
    
        <footer>
            <span>Este es el pie de pagina </span>
        </footer>
    </body>
</html>