{% extends 'Index.html' %}
{% load staticfiles %}
{%block descripcion1%}
            <div id="descripcion">
            <span> Bienvenido a Import. Aqui podras añadir y gestionar informacion relacionada con las importaciones</span>
            </div>
        {%endblock%}
            

       {%block menu%}
        <nav >
            <ul>
                <a href="/"> <li>Inicio</li></a>
            </ul>
        </nav>
        {%endblock%}
        
        {%block contenido%}



        {%endblock%}
