<?php
//conexiones
ini_set('display_errors', 1);
error_reporting(E_ALL);
$db_host = 'TU_HOST';
$db_user = 'TU_USER';
$db_pass = 'TU_PASS';
$database = 'TU_DB';
$table = 'TU_TABLA';
if(!mysql_connect($db_host, $db_user, $db_pass))
    die("No se pudo establecer conexion a la base de datos");
if(!mysql_select_db($database))
    die("Base de datos no existe");
    if(isset($_POST['submit']))
    {
        //Aqui es donde seleccionamos nuestro csv
        $fname = $_FILES['self_file']['name'];
        echo 'Cargando nombre del archivo: '.$fname.' ';
        $chk_ext = explode(".", $fname);
        if(strtolower(end($chk_ext)) == "csv")
        {
            //Si es correcto, entonces damos permisos de lectura para subir
            $filename = $_FILES['self_file']['tmp_name'];
            $handle = fopen($filename, "r");
            while(($data = fgetcsv($handle, 1000, ",")) !== FALSE)
            {
                //Insertamos los datos con los valores...
                $sql = "INSERT into TU_TABLA(data1, data2, data3, dataN) values('$dato[0]','$dato[1]','$dato[2]','$dato[3]','$dato[4]')";
                mysql_query($sql) or die(mysql_error());
            }
            //Cerramos la lectura del archivo "abrir archivo" con un "cerrrar archivo"
            fclose($handle);
            echo "Importacion exitosa";
        }
        else
        {
            //Si aparece esto es posible que el archivo no tenga el formato adecuado, inclusive cuando es cvs, revisarlo para ver si esta separado por ","
            echo "Archivo invalido";
        }
    }
?>


{% extends 'Index.html' %}
{% load staticfiles %}
{%block descripcion1%}
            <div id="descripcion">
            <span> Bienvenido a Import. Aqui podras añadir y gestionar informacion relacionada con las importaciones</span>
            </div>
        {%endblock%}
            

       {%block menu%}
        <nav >
            <ul>
                <a href="/"> <li>Inicio</li></a>
            </ul>
        </nav>
        {%endblock%}
        
        {%block contenido%}

        <h3>Importacion de archivos CSV</h3>
        <hr/>
        
        <form action='<?php echo $_SERVER["PHP_SELF"];?>' method='post' enctype="multipart/form-data">

            Importar archivo para tabla categoria: <input type="file" name="sel_file" size="20">
                <input type='submit' name='submit' value='Guardar'>
            <hr/>
            Importar archivo para tabla producto: <input type="file" name="sel_file" size="20">
                <input type='submit' name='submit' value='Guardar'>
            <hr/>
            Importar archivo para tabla registro: <input type="file" name="sel_file" size="20">
                <input type='submit' name='submit' value='Guardar'>

        </form>

        {%endblock%}
