
<!DOCTYPE html>
<html  lang="es">
{% load staticfiles %}
<head>
    <title> Import </title>
    <meta charset="UTF-8">
    <script src="/static/js/chart.js"></script>
    <link rel="stylesheet" href="/static/css/Style_public.css">

</head>

<body>
<header>
    <section id="cabecera">
        <span id="titulo">Import</span>

        {%if user.is_authenticated%}
        {%block descripcion1%}
         <div id="descripcion">
            <span>  {{user.username|capfirst}} bienvenido a Import.  Te has registrado como administrador, aqui podras editar la informacion de las importaciones, como consultarlas.</span>
            </div>
        {% endblock %}
        {%else%}

        {%block descripcion%}
        <div id="descripcion">
            <span> Bienvenido a Inport. Aqui encontararas informcion relacionada con las importaciones en El Salvador. Representadas de forma grafica, clara y veraz</span>
        </div>
        {% endblock %}
        {%endif%}
    </section>
    {% block menu %}
    {% include 'menu_usuario.html' %}
    {% endblock %}
</header>

{% block contenido %}
<section id="intro">
    <h1>Sectores y productos de importación</h1>
    <p>
        Durante el segundo trimestre de este año, el mayor rubro de importaciones se dio en el sector de productos minerales. La importación de todos los productos de este rubro aumentó significativamente respecto al año anterior, igualando en algunos casos el monto importado en el año 2008. A pesar de ello en su totalidad los niveles de importación todavía no alcanzan los niveles reportados durante ese año.
    </p>
    <h1>Proveedores de las principales importaciones</h1>
    <p>Estados Unidos figura nuevamente como uno de los principales proveedores de bienes importados, ya que reporta ser el principal suplidor de cinco de los diez productos más importados y el segundo suplidor de los restantes cinco (Tabla 3). Por su parte el MCCA fue el segundo y tercer suplidor de cuatro de esos diez productos. La mayoría de productos importados durante este trimestre fueron productos minerales, para los cuales el resto de países del mundo fue su principal suplidor.
    </p>
</section>
   <p id="fecha" >Seleccione una fecha </p>

<select id="listaF">

        <option value=1>Enero-febrero-2014</option>
        <option value=2>Marzo-Abril-2014</option>
        <option value=3>Mayo-Junio-2014</option>
        <option value=4>Julio-Agosto-2014</option>
        <option value=5>Septiembre-Octubre-2014</option>
        <option value=6>Noviembre-Diciembre-2014</option>
        <option value=7>Enero-febrero-2015</option>
        <option value=8>Marzo-Abril-2015</option>
        <option value=9>Mayo-Junio-2015</option>
        <option value=10>Julio-Agosto-2015</option>
        <option value=11>Septiembre-Octubre-2015</option>
        <option value=12>Noviembre-Diciembre-2015</option>
</select>

<section>
    <h1>Categoria 1</h1>

    <canvas id="containerGrafico" width="400" height="400"></canvas>
            <script>
                var ctx = document.getElementById("containerGrafico");

                var dataAños = {
                        labels: [
                            "2014",
                            "2015"
                        ],
                        datasets: [{
                            data: [
                                12,
                                19
                            ],
                            backgroundColor: [
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)'
                            ],
                            borderWidth: 1
                        }]
                    };

                var dataPaises = {
                        labels: [
                            "2014",
                            "2015"
                        ],
                        datasets: [{
                            data: [
                                12,
                                19
                            ],
                            backgroundColor: [
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)'
                            ],
                            borderWidth: 1
                        }]
                    };

                var containerGrafico = new Chart(ctx, {
                    type: 'bar',
                    data: ,
                    label: 'Número de emigraciones',
                    options: {
                        {#                        scales: {#}
                        {#                            yAxes: [{#}
                        {#                                ticks: {#}
                        {#                                    beginAtZero:true#}
                        {#                                }#}
                        {#                            }]#}
                        {#                        }#}
                    }
                });
            </script>
</section>
<section id="sec2">
    esta es la seccion para el segundo grafico
</section>
{% endblock %}
{% block footer %}
<footer>
    <span> Import. Derechos Reservados &copy; 2016-2020 </span>
</footer>
{% endblock %}
</body>

</html>